<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Monitoramento</h2>
        
        <button class="botao" onclick="mostrarSeção('compass-container')">Ver Bússola</button>
        <button class="botao" onclick="mostrarSeção('logs-container')">Ver Logs</button>
        <button class="botao" onclick="window.location.href='/ver-mapa'">Ver Mapa GPS</button>

        <!-- Container da Bússola -->
        <div id="compass-container" class="hidden">
            <h3>Bússola</h3>
            <div class="compass-container">
                <div class="compass-background"></div>
                <div id="ponteiro" class="needle"></div>
            </div>
            <button class="botao" onclick="resetarBussola()">Resetar Bússola</button>
        </div>

        <!-- Container dos Logs -->
        <div id="logs-container" class="hidden">
            <h3>Logs do Servidor</h3>
            <div id="mensagens">
                <p>Nenhuma mensagem recebida ainda.</p>
            </div>
            <button class="botao" onclick="resetarMensagens()">Resetar Mensagens</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
