<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Monitoramento</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

 
</head>
<body>
  <div class="container">
    <h2>Monitoramento</h2>
    
   >
    <button class="botao" onclick="mostrarSeção('logs-container')">Ver Logs</button>
    <button class="botao" onclick="mostrarMapa()">Ver Mapa GPS</button>



    <!-- Container dos Logs -->
    <div id="logs-container" class="hidden">
      <h3>Logs do Servidor</h3>
      <div id="mensagens">
        <p>Nenhuma mensagem recebida ainda.</p>
      </div>
      <button class="botao" onclick="resetarMensagens()">Resetar Mensagens</button>
    </div>

    <!-- Container do Mapa -->
    <div id="map-container">
      <h3>Localização GPS em tempo real</h3>
      <div id="map"></div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>

  
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgdhsLFDoelSG9jXWH7QSH2i0WvuhFhnw&callback=initMap">
  </script>
</body>
</html>
